<!DOCTYPE html>
<html>
  <head>
    <title>SecurityEvaluator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"><%= csrf_meta_tags %><%= csp_meta_tag %><%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <style>
      body {
        font-family: "Times New Roman", Georgia, Serif;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="http://localhost:3000" class="w3-bar-item w3-button">SECURITY QUESTION EVALUATOR</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="http://localhost:3000/home/privacypolicy" class="w3-bar-item w3-button">PRIVACY POLICY</a>
          <a href="http://localhost:3000/home/spec" class="w3-bar-item w3-button">SPECS</a>
          <a href="http://localhost:3000/home/faq" class="w3-bar-item w3-button">FAQ</a>
        </div>
      </div>
    </div><%= yield %>
  </body>
</html>